

.container-fluid{
    background-image: url("/images/hero_bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,255,255,0.5);
    padding: 5px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}